<h1>Добро пожаловать на сайт Onlinedom.info</h1>
<p>
  Для окончания регистрации и подтверждения почты вам надо перейти по <a href="http://<%= @domain %>/users/confirm/<%= @key %>">
    ссылке
  </a>
</p>