<h1>Восстановление пароля на сайте Onlinedom.info</h1>
<p>
  Для восстановления пароля вам надо перейти по <a href="http://<%= @domain %>/login#/reset/<%= @key %>">
    ссылке
  </a> и ввести новый пароль.
</p>