Восстановление пароля на сайте Onlinedom.info
===============================================

Для восстановления пароля вам надо перейти по ссылке 
http://<%= @domain %>/login#/reset/<%= @key %>
и ввести новый пароль.
