<div class="table-estates-rooms-wrapper">
    <div data-backdrop="static" aria-hidden="true" style="display: none" id="edit-dialog" class="modal fade" tabindex="-1">
        <div class="modal-dialog" style="width: 1100px; height: 810px;">
            <div class="panel panel-material-blue-500 panel-confirm">
                <div class="panel-heading">
                    <h3 class="panel-title">Редактирование помещения</h3>
                </div>
                <div class="panel-body">
                    <div class="container-fluid estates-steps-edit-form">
                        <div class="row">
                            <div class="col-md-4 text-left">
                                <p class="control-label">
                                    ФИО
                                </p>
                            </div>
                            <div class="col-md-8">
                                <input type="text" name="name" id="name" class="form-control" ng-model="editRoom.owner.name" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 text-left">
                                <p class="control-label">
                                    Телефон
                                </p>
                            </div>
                            <div class="col-md-8">
                                <div ng-repeat="phone in editRoom.owner.phones track by $index">
                                    <input type="text" name="phone0" class="form-control" value="{{phone}}" ng-show="$first" ng-model="editRoom.owner.phones[$index]" ui-mask="+7 (999) 999-9999" ng-minlength="10" required>
                                    <div class="input-group" ng-show="!$first">
                                        <input type="text" name="phone" class="form-control" value="{{phone}}" ng-model="editRoom.owner.phones[$index]" ui-mask="+7 (999) 999-9999">
                                        <span class="input-group-btn" ng-click="removePhone($index)">
                                            <i class="mdi-action-delete"></i>
                                        </span>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-fab btn-fab-mini btn-raised btn-material-blue-500 btn-add" ng-click="addPhone()">
                                    <i class="mdi-content-add"></i>
                                    <div class="ripple-wrapper"></div>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 text-left">
                                <p class="control-label">
                                    Email
                                </p>
                            </div>
                            <div class="col-md-8">
                                <input type="text" name="email" id="email" class="form-control" ng-model="editRoom.owner.email" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 text-left">
                                <p class="control-label">
                                    Проживающие
                                </p>
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="tenants" id="tenants" class="form-control" ng-model="editRoom.tenants" required>
                            </div>
                            <div class="col-md-2 text-left">
                                <p class="control-label">
                                    человек
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 text-left">
                                <p class="control-label">
                                    Площадь квартиры
                                </p>
                            </div>
                            <div class="col-md-8">
                                <input type="text" name="area" id="area" class="form-control" ng-model="editRoom.area" required>
                            </div>
                        </div>
                        <div class="row text-left">
                            <counter-list list="editRoom.counters_attributes" mode="workMode"></counter-list>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-default" data-dismiss="modal" ng-click="clearEditRoom()">
                                Отмена
                            </button>
                            <button class="btn btn-material-blue-500" ng-click="saveRoom()">
                                Сохранить
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table st-table="list"
           st-safe-src="listSafe"
           class="table table-striped table-with-controls table-estates-rooms"
           >
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th st-sort="number">Квартира</th>
            <th st-sort="room_type">Помещение</th>
            <th st-sort="owner">Владелец</th>
            <th>Количество проживающих</th>
            <th>Способ связи</th>
            <th>Площадь</th>
            <th>Правка</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="room in list track by $index">
            <td>
                <input type="checkbox" />
            </td>
            <td class="text-right">
                {{room.number}}
            </td>
            <td class="text-right">
                {{room.room_type}}
            </td>
            <td>
                <div ng-if="room.owner.name">
                    <div class="row">
                        <div class="col-md-12">
                            <p ng-if="room.owner.registered == true" class="text-success">Зарегистрирован</p>
                            <p ng-if="room.owner.registered != true" class="text-danger">Не зарегистрирован</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="no-margin">
                                {{room.owner.name}}
                            </h4>
                        </div>
                    </div>
                </div>
                <div ng-if="!room.owner.name">
                    <div class="row">
                        <div class="col-md-12">
                            <span class="invalid">Нет данных</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button data-toggle="modal" data-target="#edit-dialog" class="btn btn-xs btn-material-blue-500" ng-click="setRoomToEdit($index)">Добавить</button>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="row">
                    <div class="col-sm-12">
                        <p ng-if="room.tenants">
                            {{room.tenants}}
                        </p>
                        <p ng-if="!room.tenants">
                            ----
                        </p>
                    </div>
                </div>
            </td>
            <td>
                <div class="row">
                    <div class="col-md-12 communications">
                        <div ng-if="room.owner">
                            <p ng-repeat="phone in room.owner.phones track by $index">
                                {{phone}}
                            </p>
                            <p ng-if="room.owner.email">
                                {{room.owner.email}}
                            </p>
                        </div>
                        <div ng-if="!room.owner">
                            ----
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="row">
                    <div class="col-md-12">
                        <p ng-if="room.area">
                            {{room.area}} м<sup>2</sup>
                        </p>
                        <p ng-if="!room.area">
                            ----
                        </p>
                    </div>
                </div>
            </td>
            <td>
                <span>
                    <span data-toggle="modal" data-target="#edit-dialog" ng-click="setRoomToEdit($index)">
                        <i class="mdi-image-edit"></i>
                    </span>
                </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
