<div class="container well">
    <h2>Восстановление пароля</h2>
    <form name="form" ng-submit="sendRestoreData()" role="form">
        <div class="form-group form-group-material-blue-A700">
            <label for="email_field" class="control-label">
                E-mail
            </label>
            <input type="email" name="email" id="email_field" class="form-control" ng-model="userInfo.email">
        </div>
        <button type="submit" class="btn btn-material-blue-A700" ng-disabled="buttonDisabled">
            <span ng-class="{'vis-hidden': buttonDisabled}">Восстановить</span>
            <div class="spinner spinner-restore" ng-show="buttonDisabled"></div>
        </button>
    </form>
    <hr>
    <p>
        Передумали?
        <a href="#/" class="btn-material-blue-A700 btn-flat">
            Назад
        </a>
    </p>
</div>