<div class="container well" ng-init="userInfo.user_type = 'client'">
    <h2>
        Регистрация
    </h2>
    <form name="form" ng-submit="sendRegistrationData()" role="form">
        <div class="form-group">
            <div class="radio radio-material-blue-A700">
                <label>
                    <input name="user_type" value="client" checked type="radio" ng-model="userInfo.user_type"><span class="circle"></span><span class="check"></span>
                    Пользователь
                </label>
            </div>
            <div class="radio radio-material-blue-A700">
                <label>
                    <input name="user_type" value="company" type="radio" ng-model="userInfo.user_type"><span class="circle"></span><span class="check"></span>
                    Управляющая компания
                </label>
            </div>
        </div>
        <div class="form-group form-group-material-blue-A700" ng-if="userInfo.user_type == 'client'">
            <label for="name_field" class="control-label">
                Ф.И.О.
            </label>
            <input type="text" id="name_field" class="form-control" required="required" ng-model="userInfo.name">
        </div>
        <div class="form-group form-group-material-blue-A700" ng-if="userInfo.user_type == 'company'">
            <label for="name_field" class="control-label">
                Ф.И.О. руководителя
            </label>
            <input type="text" id="name_field" class="form-control" required="required" ng-model="userInfo.name">
            <label for="name_field" class="control-label">
                Название УК
            </label>
            <input type="text" name="name" id="company_name_field" class="form-control" required="required" ng-model="userInfo.company_name">
        </div>
        <div class="form-group form-control-wrapper form-group-material-blue-A700">
            <label for="email_field" class="control-label">
                E-mail
            </label>
            <input type="email" name="email" id="email_field" class="form-control" required="required" ng-model="userInfo.email">
            <span class="material-input"></span>
        </div>
        <div class="form-group form-group-material-blue-A700" ng-class="{'has-error': notMatchingPass}">
            <label for="password_field" class="control-label">
                Пароль (не менее 6 символов)
            </label>
            <input type="password" name="password" id="password_field" class="form-control" required ng-model="userInfo.password"  ng-change="checkMatch()">
        </div>
        <div class="form-group form-group-material-blue-A700" ng-class="{'has-error': notMatchingPassConf}">
            <label for="password_confirmation_field" class="control-label">
                Повторите пароль
            </label>
            <input type="password" name="password_confirmation" id="password_confirmation_field" class="form-control" required ng-model="userInfo.password_conf"  ng-change="checkMatch()">
        </div>
        <button type="submit" class="btn btn-material-blue-A700" ng-disabled="buttonDisabled">
            <span ng-class="{'vis-hidden': buttonDisabled}">Зарегистрироваться</span>
            <div class="spinner spinner-register" ng-show="buttonDisabled"></div>
        </button>
    </form>
    <hr>
    <p>
        Уже зарегистрированы?
        <a href="#/" class="btn-material-blue-A700 btn-flat">
            Войдите
        </a>
    </p>
</div>
</div>
