<div class="container well">
    <h2>Вход</h2>
    <form name="form" ng-submit="sendLoginData()" role="form">
        <div class="form-group form-group-material-blue-A700">
            <label for="email_field" class="control-label">
                E-mail
            </label>
            <input type="email" name="email" id="email_field" class="form-control" required ng-model="userInfo.email">
        </div>
        <div class="form-group form-group-material-blue-A700">
            <label for="password_field" class="control-label">
                Пароль
            </label>
            <input type="password" name="password" id="password_field" class="form-control" required ng-model="userInfo.password">
        </div>
        <button type="submit" class="btn btn-material-blue-A700 login-button" ng-disabled="buttonDisabled">
            <span ng-class="{'vis-hidden': buttonDisabled}">Войти</span>
            <div class="spinner" ng-show="buttonDisabled"></div>
        </button>
    </form>
    <p class="forgot-password ">
        <a href="#restore" class="btn-material-blue-A700 btn-flat">
            Забыли пароль?
        </a>
    </p>
    <hr>
    <p>
        Нет аккаунта?
        <a href="#register" class="btn-material-blue-A700 btn-flat">
            Зарегистрируйтесь
        </a>
    </p>
</div>