  <div class="container well">
    <% if @badkey %>
      <div class="center-text">
        <h2 class="page-header">
          Указан некорректный ключ
        </h2>
        <a href="/" class="btn btn-material-blue-A700">
          На главную
        </a>
      </div>
    <% end %>

    <% if @oldkey %>
      <div class="center-text">
        <h2 class="page-header">
          Срок действия ссылки восстановления пароля истек, пожалуйста, повторите процедуру восстановления пароля заново.
        </h2>
        
        <a href="/" class="btn btn-primary">
          На главную
        </a>
      </div>
    <% end %>

    <% if !@oldkey && !@badkey %>

      <h2>
        Восстановление пароля
      </h2>
    <form name="form" ng-submit="sendResetPasswordData()" role="form" >
        <!-- Ключ восстановления пароля -->
        <input type="hidden" id="reset_key" value="<%= @key.key %>" ng-model="userInfo.key" ng-init="userInfo.key = '<%= @key.key %>'">
            <div class="form-group form-group-material-blue-A700" ng-class="{'has-error': notMatchingPass}">
                <label for="password_field" class="control-label">
                  Новый пароль (не менее 6 символов)
                </label>
                <input type="password" name="password" id="password_field" class="form-control" required ng-model="userInfo.password"  ng-change="checkMatch()">
            </div>
            <div class="form-group form-group-material-blue-A700" ng-class="{'has-error': notMatchingPassConf}">
                <label for="password_confirmation_field" class="control-label">
                  Повторите пароль
                </label>
                <input type="password" name="password_confirmation" id="password_confirmation_field" class="form-control" required ng-model="userInfo.password_conf"  ng-change="checkMatch()">
            </div>
        <button type="submit" class="btn btn-material-blue-A700" ng-disabled="buttonDisabled">
          <span ng-class="{'vis-hidden': buttonDisabled}">Сменить</span>
          <div class="spinner spinner-reset" ng-show="buttonDisabled"></div>
        </button>
    </form>
    <% end %>
  </div>