
<!DOCTYPE html>
<html lang="ru" ng-app="login">
<head>
  <meta charset="UTF-8">
  <title>OnlineDom</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

  <%= stylesheet_link_tag    'login', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'login', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_tag "window.__token = '#{form_authenticity_token}'" %>
  <style>
    body {
      padding-top: 60px;
    }
  </style>
</head>
<body>
<alert></alert>
<div class="login-alerts">
  <% if flash.any? %>
    <% flash.each do |type, msg| %>
      <div class="alert alert-dismissable alert-<%= type %>">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <p>
          <%= msg %>
        </p>
      </div>
    <% end %>
  <% end %>
</div>

<h1 class="page-header container">
  Welcome to OnlineDom
</h1>

<div ng-view="">
</div>
</body>
</html>