<h1>Изменить тариф</h1>
<form name="tariffForm" role="form" novalidate ng-submit="submitForm()">
    <div class="well" ng-init="init()">
        <h3>Основная информация</h3>
        <div class="form-group form-group-material-blue-500">

            <label for="name" class="control-label">
                Название услуги
            </label>
            <br>
            <select ng-model="tariffModel.name">
              <option ng-repeat="name in tariffNames" value="{{name}}">{{name}}</option>
            </select>
            <br>
            <br>

            <label for="name" class="control-label">
                Стоимость услуги  
            </label>
            <input type="text" name="name" id="name" class="form-control" ng-model="tariffModel.value" required>
            <div ng-messages="tariffForm.name.$error" role="alert" class="ng-message-alert">
              <div ng-message="required">Поле "Стоимость услуги" обязательно для заполнения</div>
            </div>
            <br>
            <div class="btn-group form-dropdown" ng-if="estatesList.length">
                <a data-target="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true" id="roomType">
                    {{tariffModel.full_address}}
                    <i class="material-icons">keyboard_arrow_down</i>
                    <div class="ripple-wrapper"></div></a>
                <ul class="dropdown-menu user-menu">
                    <li ng-repeat="estate in estatesList">
                        <a href="javascript:void(0)" ng-click="selectEstate(estate.id, estate.full_address)">{{estate.full_address}}</a>
                    </li>
                </ul>
            </div>
            <p ng-if="!estatesList.length">
                Вы не создали еще ни одного <a href="#estates"> объекта</a>.
            </p>
        </div>
        <button class="btn btn-fab btn-raised btn-material-blue-500 btn-add" type="submit" ng-disabled="tariffForm.$invalid">
            <i class="mdi-action-done" ng-show="!showSpinner"></i>
            <div class="spinner" ng-show="showSpinner"></div>
            <div class="ripple-wrapper"></div>
        </button>
    </div>
</form>

