<div class="well" ng-init="init()">
    <div aria-hidden="true" style="display: none;" id="remove-dialog" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="panel panel-material-blue-500 panel-confirm">
                <div class="panel-heading">
                    <h3 class="panel-title">Точно удалить?</h3>
                </div>
                <div class="panel-body">
                    <button class="btn btn-default" data-dismiss="modal">
                        Отмена
                        <div class="ripple-wrapper"></div>
                    </button>
                    <button class="btn btn-material-blue-500" ng-click="deleteSelectedTariff(selectedObjId, selectedObjIndex)" ng-disabled="buttonDisabled">
                        <span ng-class="{'vis-hidden': buttonDisabled}">Удалить</span>
                        <div class="spinner" ng-show="buttonDisabled"></div>
                        <div class="ripple-wrapper"></div>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="tariffsModel.tariffsAmount > 0">
        <h1>Тарифы</h1>
        <label>Поиск:</label>
        <input type="text" name="search" id="search" class="form-control" ng-model="searchText">
        <br>
        <table st-table="tariffsModel.tariffsList"
               class="table table-striped table-with-controls"
               ng-class="userCan('counters', 'update') ? 'table-with-controls' : ''"
               >
            <thead>
            <tr>
                <th>Название</th>
                <th>Значение</th>
                <th>Объект</th>
                <th ng-if="userCan('tariffs', 'archives')" ng-cloak>История тарифа</th>
                <th ng-if="userCan('tariffs', 'update') || userCan('tariffs', 'delete')" ng-cloak>Управление</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tariff in tariffsModel.tariffsList | filter:{full_address:searchText}">
                    <td>{{tariff.name}}</td>
                    <td>{{tariff.value}}</td>
                    <td>{{tariff.full_address}}</td>
                    <td ng-if="userCan('tariffs', 'archives')" ng-cloak>
                        <a href="#archiveTariffs/{{tariff.id}}">
                            История
                        </a>
                    </td>
                    <td ng-if="userCan('tariffs', 'update') || userCan('tariffs', 'delete')" ng-cloak>
                        <span ng-if="userCan('tariffs', 'update')" ng-cloak>
                            <a href="#editTariff/{{tariff.id}}">
                                <i class="mdi-image-edit"></i>
                            </a>
                        </span>
<!--                         <span ng-click="deleteSelectedTariff(tariff.id, $index)" ng-if="userCan('tariffs', 'delete')" ng-cloak>
                            <i class="mdi-action-delete"></i>
                        </span> -->
                        <span data-toggle="modal" data-target="#remove-dialog" ng-click="setObjIdToRemove(tariff.id, $index)" ng-if="userCan('tariffs', 'delete')" ng-cloak>
                            <i class="mdi-action-delete"></i>
                        </span>
                    </td>
                </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="{{userCan('tariffs', 'update')? '2' : '1'}}" class="text-center">
                    <div st-items-by-page="10" st-pagination="" st-template="template/table-pagination"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
    <h5 ng-if="!tariffsModel.tariffsAmount > 0">Привязанных тарифов нет</h5>
    <a href="#/addTariff" class="btn btn-fab btn-raised btn-material-blue-500 btn-add ng-scope" ng-if="userCan('tariffs', 'create')" ng-cloak>
        <i class="mdi-content-add"></i>
        <div class="ripple-wrapper"></div>
    </a>
</div>
