<div class="well" ng-init="init()">
    <table st-table="tariffsModel.tariffsList"
           class="table table-striped table-with-controls"
           ng-if="tariffsModel.archiveAmount > 0"
           ng-cloak
           >
        <thead>
        <tr>
            <th>Название</th>
            <th>ID тарифа</th>
            <th>Старое значение</th>
            <th>Новое значение</th>
            <th>Дата изменения</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="archive_tariff in tariffsModel.archiveTariffsList | filter:{tariff_id:searchText}">
                <td>{{tariffsModel.archiveTariffName}}</td>
                <td>{{archive_tariff.tariff_id}}</td>
                <td>{{archive_tariff.old_value}}</td>
                <td>{{archive_tariff.new_value}}</td>
                <td>{{archive_tariff.created_at | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            </tr>
        </tbody>
    </table>
    <h5 ng-if="!tariffsModel.archiveAmount > 0" ng-cloak>
        Этот тариф ещё не изменялся.
    </h5>
</div>