<form name="roleForm" role="form" novalidate ng-submit="submitForm()">
    <div class="well" ng-init="init()">
        <div class="form-group form-group-material-blue-500">
            <label for="role" class="control-label">
                Название
            </label>
            <input type="text" name="name" id="role" class="form-control" ng-model="roleModel.name" required>
            <div ng-messages="roleForm.name.$error" role="alert" class="ng-message-alert">
              <div ng-message="required">Поле "Название" обязательно для заполнения</div>
            </div>
        </div>
        <div ng-repeat="(key, role) in roleModel.full_permissions">
            <div class="row">
                <div class="col-md-12">
                    <hr ng-if="!$first">
                    <h4>{{role.alias}}</h4>
                    <div class="row">
                        <div ng-repeat="(name, action) in role.actions" class="col-md-6">
                            <div class="togglebutton togglebutton-material-blue-500">
                                <label>
                                    <input type="checkbox" name="permissions[{{key}}][{{name}}]" ng-model="roleModel.permissions[key][name]">
                                    <span class="toggle"></span>
                                {{action.alias}}
                            </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-fab btn-raised btn-material-blue-500 btn-add" type="submit" ng-disabled="roleForm.$invalid">
            <i class="mdi-action-done" ng-show="!showSpinner"></i>
            <div class="spinner" ng-show="showSpinner"></div>
            <div class="ripple-wrapper"></div>
        </button>
    </div>
</form>
