<div class="well" ng-init="init()">
    <h3>Информация о заявке</h3>
    <h5>Квартира № {{requestModel.room.number}}, {{requestModel.room.address}}</h5>
    <hr>
    <ng-form novalidate>
        <div class="form-group form-group-material-blue-500">
            <label for="request_type" class="control-label">
                Тип заявки
            </label>
            <input type="text" disabled name="request_type" id="request_type" class="form-control" ng-model="requestModel.ticket_type">
        </div>
        <div class="form-group form-group-material-blue-500">
            <label for="status" class="control-label">
                Статус
            </label>
            <select class="form-control" id="status" required ng-model="requestModel.status" ng-options="status as status for status in requestStatuses">
            </select>
        </div>
        <div class="form-group form-group-material-blue-500">
            <label for="executor_id" class="control-label">
                Исполнитель:
            </label>
            <select class="form-control" id="executor_id" required ng-model="requestModel.executor_id" ng-options="employee.user.id as (employee.role.name ? employee.user.name + ' (' + employee.role.name + ')' : employee.user.name) for employee in employees">
            </select>
        </div>
        <div class="form-group form-group-material-blue-500" ng-if="requestModel.execute_at">
            <label for="request_type" class="control-label">
                Дата исполнения
            </label>
            <p>{{requestModel.execute_at | date:'dd.MM.yyyy'}}</p>
            <!-- <input type="text" disabled name="request_type" id="request_type" class="form-control" ng-model="requestModel.execute_at"> -->
        </div>
        <div class="form-group form-group-material-blue-500">
            <label for="message" class="control-label">
                Сообщение
            </label>
            <textarea disabled type="text" name="message" id="message" ng-model="requestModel.meta.description" class="form-control" required rows="6"></textarea>
        </div>
        <button class="btn btn-fab btn-raised btn-material-blue-500 btn-add" type="submit" ng-disabled="requestForm.$invalid" ng-click="submitForm()">
            <i class="mdi-action-done" ng-show="!showSpinner"></i>
            <div class="spinner" ng-show="showSpinner"></div>
            <div class="ripple-wrapper"></div>
        </button>
    </ng-form>
</div>
