<div class="well" ng-init="init()">
    <div aria-hidden="true" style="display: none;" id="remove-dialog" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="panel panel-material-blue-500 panel-confirm">
                <div class="panel-heading">
                    <h3 class="panel-title">Точно удалить?</h3>
                </div>
                <div class="panel-body">
                    <button class="btn btn-default" data-dismiss="modal">
                        Отмена
                        <div class="ripple-wrapper"></div>
                    </button>
                    <button class="btn btn-material-blue-500" ng-click="deleteSelectedObj(selectedObjId, selectedObjIndex)" ng-disabled="buttonDisabled">
                        <span ng-class="{'vis-hidden': buttonDisabled}">Удалить</span>
                        <div class="spinner" ng-show="buttonDisabled"></div>
                        <div class="ripple-wrapper"></div>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <table st-table="estatesModel.estatesList"
           st-safe-src="estatesSafe"
           class="table table-striped table-with-controls"
           ng-if="estatesModel.estatesAmount > 0">
        <thead>
        <tr>
            <th st-sort="address">Адрес</th>
            <th st-sort="meta.living">Количество квартир</th>
            <th>Наличие документов</th>
            <th ng-if="userCan('rooms', 'update') || userCan('rooms', 'delete')" ng-cloak>Управление</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="est in estatesModel.estatesList">
            <td>{{est.full_address}}</td>
            <td>{{est.meta.living}}</td>
            <td>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" disabled>
                        <span class="checkbox-material">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>
            </td>
            <td ng-if="userCan('rooms', 'update') || userCan('rooms', 'delete')" ng-cloak>
                    <span ng-if="userCan('rooms', 'update')" ng-cloak>
                        <a href="#editEstate/{{est.id}}">
                            <i class="mdi-image-edit"></i>
                        </a>
                    </span>
                    <span data-toggle="modal" data-target="#remove-dialog" ng-click="setObjIdToRemove(est.id, $index)" ng-if="userCan('rooms', 'delete')" ng-cloak>
                        <i class="mdi-action-delete"></i>
                    </span>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="{{userCan('rooms', 'update')||userCan('rooms', 'delete')? '4' : '3'}}" class="text-center">
                <div st-items-by-page="10" st-pagination="" st-template="template/table-pagination"></div>
            </td>
        </tr>
        </tfoot>
    </table>
    <h5 ng-if="!estatesModel.estatesAmount > 0">Привязанных объектов нет</h5>
    <a href="#/addEstate" class="btn btn-fab btn-raised btn-material-blue-500 btn-add" ng-if="userCan('rooms', 'create')" ng-cloak>
        <i class="mdi-content-add"></i>
        <div class="ripple-wrapper"></div>
    </a>
</div>
