<div class="well" ng-init="init()">
    <h4>{{estatesModel.full_address}}</h4>
    <hr>
    <!-- <input ng-model="report_date" id="#date-format" type="text" placeholder="" /> -->
    <div class="col-md-4 dropdown">
        <label ng-click="def()">Период отчетности</label>
        <input class="form-control dropdown-toggle" id="dLabel" role="button" ng-model="report_date" data-toggle="dropdown" data-target="#" href="" type="text" data-date-time-input="MM-YYYY" readonly="">
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <datetimepicker data-ng-model="report_date"
                            data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle', startView: 'month', minView: 'month' }"></datetimepicker>
        </ul>
    </div>
<!--     <button class="pull-right btn btn-material-blue-500" ng-click="download(estatesModel.rooms)">Сохранить в EXCEL</button> -->
    <button class="pull-right btn btn-material-blue-500">
        <a ng-href="/api/estates/{{estatesModel.id}}/download.xlsx" style="color:white; text-decoration: none">Сохранить в EXCEL</a>
    </button>
    
    <table st-table="estatesModel.rooms"
           st-safe-src="estatesSafe"
           class="table table-striped table-with-controls"
           ng-if="estatesModel.rooms.length > 0">
        <thead>
        <tr>
            <th st-sort="number">Квартира</th>
            <th st-sort="owner.name">Владелец</th>
            <th>Показания счетчиков</th>
            <th>Способ связи</th>
            <th>Статус</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="room in estatesModel.rooms">
            <td>{{room.number}}</td>
            <td>
                {{room.owner.name}}
                <br ng-if="room.owner.email">
                {{room.owner.email}}
                <br ng-if="room.owner.phones[0]">
                {{room.owner.phones[0].number}}
            </td>
            <td>
              <div ng-repeat="report in room.reports | currentReport:report_date as filtered">
                <button class="col-md-9 btn btn-default" style="text-align:left;padding-left:10px" data-toggle="modal" data-target="#report-dialog" ng-click="selectReport(report)">
                  <p ng-repeat="counter in report.report_entries_attributes">
                    <span>{{counter.counter_type}}: {{counter.value}}</span>
                    <span ng-if="counter.units == 'm3'">м<sup>3</sup></span>
                    <span ng-if="counter.units == 'kwth'">кВт/ч</span>
                    <span ng-if="counter.units == 'gkal'">Гкал</span>
                  </p>
                </button>
              </div>
              <div ng-if="filtered == 0">
                <center ng-show="room.counters_attributes.length==0">--</center>
                <button class="col-md-9 btn btn-default" style="text-align:left;padding-left:10px" data-toggle="modal" data-target="#report-dialog" ng-click="newReport(room.counters_attributes)" ng-hide="room.counters_attributes.length==0">
                  <p ng-repeat="counter in room.counters_attributes">
                      <span>{{counter.counter_type}}: --</span>
                  </p>
                </button>
              </div>
            </td>
            <td>
                <span ng-if="room.owner.phones[0]">Телефон</span>
                <br ng-if="!room.owner.email">
                <span ng-if="room.owner.phones[0]">SMS</span>
                <br ng-if="!room.owner.email">
                <span ng-if="room.owner.email">Email</span>
            </td>
            <td>
                Не обработан
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5" class="text-center">
                <div st-items-by-page="10" st-pagination="" st-template="template/table-pagination"></div>
            </td>
        </tr>
        </tfoot>
    </table>
    <h5 ng-if="!estatesModel.rooms.length > 0">По этому адресу нет зарегистрированных пользователей</h5>
</div>

<div aria-hidden="true" style="display: none;" id="report-dialog" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="panel panel-material-blue-500">
            <div class="panel-heading">
                <h3 class="panel-title">Присоединенная к дому сеть</h3>
            </div>
            <div class="panel-body">
              <ng-form name="reportForm" role="form" novalidate>
                <table
                  st-table="roomModel.counters_attributes"
                  class="table table-striped">
                  <thead>
                    <tr>
                      <th>Тип счетчика</th>
                      <th>Показания</th>
                      <th>Единица измерения</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="counter in selectedReport.report_entries_attributes">
                      <td>{{counter.counter_type}}</td>
                      <td>
                        <div class="form-group form-group-material-blue-500">
                          <input type="number" class="form-control" ng-model="selectedReport.report_entries_attributes[$index].value" required min="1">
                        </div>
                      </td>
                      <td ng-if="counter.units == 'm3'">м<sup>3</sup></td>
                      <td ng-if="counter.units == 'kwth'">кВт/ч</td>
                      <td ng-if="counter.units == 'gkal'">Гкал</td>
                    </tr>
                  </tbody>
                </table>
              </ng-form>
              <button class="btn btn-raised btn-material-blue-500 btn-add btn-add-block" type="submit" ng-if="!roomModel.current_report" ng-disabled="reportForm.$invalid" ng-click="submitForm()">
                  <span ng-class="{'vis-hidden': showSpinner}">Отправить</span>
                  <div class="spinner" ng-show="showSpinner"></div>
                  <div class="ripple-wrapper"></div>
              </button>
            </div>
        </div>
    </div>
</div>
