<form name="informationForm" role="form" novalidate ng-init="init()" ng-submit="submitForm()">
    <div class="well">
        <h2>Основная информация</h2>
        <div class="form-group" ng-class="{'form-group-material-blue-500': !informationModel.verified }">
            <label for="company_name" class="control-label">
                Название
            </label>
            <input type="text" name="company_name" id="company_name" class="form-control" ng-disabled="informationModel.verified" ng-model="informationModel.company_name" required>
            <div ng-messages="informationForm.company_name.$error" role="alert" class="ng-message-alert">
              <div ng-message="required">Поле "Название" обязательно для заполнения</div>
            </div>
        </div>
        <div class="form-group" ng-class="{'form-group-material-blue-500': !informationModel.verified }">
            <label for="contact_person" class="control-label">
                Контактное лицо
            </label>
            <input type="text" name="contact_person" id="contact_person" class="form-control" ng-disabled="informationModel.verified" ng-model="informationModel.contact_person" required>
            <div ng-messages="informationForm.contact_person.$error" role="alert" class="ng-message-alert">
              <div ng-message="required">Поле "Контактное лицо" обязательно для заполнения</div>
            </div>
        </div>
        <div class="form-group phone-block" ng-class="{'form-group-material-blue-500': !informationModel.verified }">
            <label class="control-label">
                Телефон
            </label>
            <div ng-repeat="phone in informationModel.phones" ng-if="!informationModel.verified">
                <input type="text" name="phone0" class="form-control" value="{{phone.number}}" ng-show="$first" ng-model="phone.number" ui-mask="+7 (999) 999-9999" ng-minlength="10" required>
                <div class="input-group"  ng-show="!$first">
                    <input type="text" name="phone" class="form-control" value="{{phone.number}}" ng-model="phone.number" ui-mask="+7 (999) 999-9999">
                    <span class="input-group-btn" ng-click="removePhone($index)">
                        <i class="mdi-action-delete"></i>
                    </span>
                </div>
            </div>
            <div ng-messages="informationForm.phone0.$error" role="alert" class="ng-message-alert">
              <div ng-message="required">Необходимо указать хотя бы один телефон</div>
            </div>
            <div ng-repeat="phone in informationModel.phones" ng-if="informationModel.verified">
                <input type="text" name="phone" class="form-control" value="{{phone}}" ng-model="phone.number" ui-mask="+7 (999) 999-9999" ng-disabled="informationModel.verified">
            </div>
            <button type="button" class="btn btn-fab btn-fab-mini btn-raised btn-material-blue-500 btn-add" ng-click="addPhone()" ng-if="!informationModel.verified" type="button">
                <i class="mdi-content-add"></i>
                <div class="ripple-wrapper"></div>
            </button>
        </div>
        <div class="form-group" ng-class="{'form-group-material-blue-500': !informationModel.verified }">
            <label for="country" class="control-label">
                Страна
            </label>
            <input type="text" name="country" id="country" class="form-control"  ng-disabled="informationModel.verified" ng-model="informationModel.country" required>
            <div ng-messages="informationForm.country.$error" role="alert" class="ng-message-alert">
              <div ng-message="required">Поле "Страна" обязательно для заполнения</div>
            </div>
        </div>
        <div class="form-group" ng-class="{'form-group-material-blue-500': !informationModel.verified }">
            <label for="region" class="control-label">
                Регион
            </label>
            <input type="text" name="region" id="region" class="form-control"  ng-disabled="informationModel.verified" ng-model="informationModel.region" required>
            <div ng-messages="informationForm.region.$error" role="alert" class="ng-message-alert">
              <div ng-message="required">Поле "Регион" обязательно для заполнения</div>
            </div>
        </div>
        <div class="form-group" ng-class="{'form-group-material-blue-500': !informationModel.verified }">
            <label for="city" class="control-label">
                Город
            </label>
            <input type="text" name="city" id="city" class="form-control"  ng-disabled="informationModel.verified" ng-model="informationModel.city" ng-blur="findAddress()" required>
            <div ng-messages="informationForm.city.$error" role="alert" class="ng-message-alert">
              <div ng-message="required">Поле "Город" обязательно для заполнения</div>
            </div>
        </div>
        <div class="form-group" ng-class="{'form-group-material-blue-500': !informationModel.verified }">
            <label for="address" class="control-label">
                Улица, дом, корпус
            </label>
            <input type="text" name="address" id="address" class="form-control" ng-disabled="informationModel.verified" ng-model="informationModel.address" required>
            <div ng-messages="informationForm.address.$error" role="alert" class="ng-message-alert">
              <div ng-message="required">Поле "Улица, дом, корпус" обязательно для заполнения</div>
            </div>
        </div>
        <div class="form-group" ng-class="{'form-group-material-blue-500': !informationModel.verified }">
            <label for="post_code" class="control-label">
                Почтовый индекс
            </label>
            <input type="text" name="post_code" id="post_code" class="form-control" ng-disabled="informationModel.verified" ng-model="informationModel.post_code" required maxlength="6">
            <div ng-messages="informationForm.post_code.$error" role="alert" class="ng-message-alert">
              <div ng-message="required">Поле "Почтовый индекс" обязательно для заполнения</div>
            </div>
        </div>
        <div class="form-group" ng-class="{'form-group-material-blue-500': !informationModel.verified }">
            <label class="control-label">
                Логотип
            </label>
            <label for="uploadPhoto"
                   class="btn btn-fab btn-fab-mini btn-raised btn-material-blue-500 btn-add"
                   ng-if="!informationModel.image && !informationModel.verified">
                <i class="mdi-editor-publish" ng-hide="spinnersVisibilityState.logoSpinner"></i>
                <div class="spinner spinner-small" ng-show="spinnersVisibilityState.logoSpinner"></div>
                <div class="ripple-wrapper"></div>
            </label>
            <input id="uploadPhoto"
                type="file"
                onchange="angular.element(this).scope().uploadPhoto(this.files, 'logo', 'logoSpinner')"
                ng-hide="1"
                accept="image/x-png, image/gif, image/jpeg"
                >
            <button type="button" class="btn btn-fab btn-fab-mini btn-raised btn-material-blue-500 btn-add" ng-click="removeLogo('uploadPhoto', 'logo', 'logoSpinner')" ng-if="informationModel.image && !informationModel.verified">
                <i class="mdi-action-delete" ng-hide="spinnersVisibilityState.logoSpinner"></i>
                <div class="spinner spinner-small" ng-show="spinnersVisibilityState.logoSpinner"></div>
                <div class="ripple-wrapper"></div>
            </button>
            <img ng-if="informationModel.image" ng-src="{{informationModel.image}}" height="150" class="company-logo"/>
        </div>

        <div class="form-group" ng-class="{'form-group-material-blue-500': !informationModel.verified }">
            <label for="info" class="control-label">
                Информация о компании
            </label>
            <textarea type="text" name="info" id="info" class="form-control"  ng-disabled="informationModel.verified" rows="3" ng-model="informationModel.info"></textarea>
        </div>
        <hr>
        <h2>Дополнительная информация</h2>
        <div class="form-group" ng-class="{'form-group-material-blue-500': !informationModel.verified }">
            <label for="inn" class="control-label">
                ИНН
            </label>
            <input type="text" name="inn" id="inn" class="form-control" ng-disabled="informationModel.verified" ng-model="informationModel.inn" required ng-minlength="10" maxlength="10">
            <div ng-messages="informationForm.inn.$error" role="alert" class="ng-message-alert">
              <div ng-message="required">Поле "ИНН" обязательно для заполнения</div>
            </div>
        </div>
        <div class="form-group" ng-class="{'form-group-material-blue-500': !informationModel.verified }">
            <label for="kpp" class="control-label">
                КПП
            </label>
            <input type="text" name="kpp" id="kpp" class="form-control" ng-disabled="informationModel.verified" ng-model="informationModel.kpp" required ng-minlength="9" maxlength="9">
            <div ng-messages="informationForm.kpp.$error" role="alert" class="ng-message-alert">
              <div ng-message="required">Поле "КПП" обязательно для заполнения</div>
            </div>
        </div>
        <div class="form-group" ng-class="{'form-group-material-blue-500': !informationModel.verified }">
            <label class="control-label">
                Свидетельство о регистрации
            </label>
            <label for="kppScan"
                   class="btn btn-fab btn-fab-mini btn-raised btn-material-blue-500 btn-add"
                   ng-if="!informationModel.has_innkpp_file && !informationModel.verified">
                <i class="mdi-editor-publish" ng-hide="spinnersVisibilityState.innSpinner"></i>
                <div class="spinner spinner-small" ng-show="spinnersVisibilityState.innSpinner"></div>
                <div class="ripple-wrapper"></div>
            </label>
            <input id="kppScan"
                   type="file"
                   onchange="angular.element(this).scope().uploadPhoto(this.files, 'innkpp', 'innSpinner')"
                   ng-hide="1"
                   accept="image/x-png, image/gif, image/jpeg"
                   >

            <button type="button" class="btn btn-fab btn-fab-mini btn-raised btn-material-blue-500 btn-add" ng-click="removeLogo('kppScan', 'innkpp', 'innSpinner')" ng-if="informationModel.has_innkpp_file && !informationModel.verified">
                <i class="mdi-action-delete" ng-hide="spinnersVisibilityState.innSpinner"></i>
                <div class="spinner spinner-small" ng-show="spinnersVisibilityState.innSpinner"></div>
                <div class="ripple-wrapper"></div>
            </button>
            <img ng-if="!informationModel.has_innkpp_file && informationModel.kppImage" ng-src="{{informationModel.kppImage}}" height="150" class="company-logo"/>
            <img ng-if="informationModel.has_innkpp_file" ng-src="api/companies/innkpp_file/" height="150" class="company-logo"/>
        </div>
        <div class="form-group" ng-class="{'form-group-material-blue-500': !informationModel.verified }">
            <label for="ogrn" class="control-label">
                ОГРН
            </label>
            <input type="text" name="ogrn" id="ogrn" class="form-control" ng-disabled="informationModel.verified" ng-model="informationModel.ogrn" required ng-minlength="13" maxlength="15">
            <div ng-messages="informationForm.ogrn.$error" role="alert" class="ng-message-alert">
              <div ng-message="required">Поле "ОГРН" обязательно для заполнения</div>
            </div>
        </div>
        <div class="form-group" ng-class="{'form-group-material-blue-500': !informationModel.verified }">
            <label class="control-label">
                Свидетельство о регистрации
            </label>
            <label for="ogrnScan"
                   class="btn btn-fab btn-fab-mini btn-raised btn-material-blue-500 btn-add"
                   ng-if="!informationModel.has_ogrn_file && !informationModel.verified">
                <i class="mdi-editor-publish" ng-hide="spinnersVisibilityState.ogrnSpinner"></i>
                <div class="spinner spinner-small" ng-show="spinnersVisibilityState.ogrnSpinner"></div>
                <div class="ripple-wrapper"></div>
            </label>
            <input id="ogrnScan"
                   type="file"
                   onchange="angular.element(this).scope().uploadPhoto(this.files, 'ogrn', 'ogrnSpinner')"
                   ng-hide="1"
                   accept="image/x-png, image/gif, image/jpeg"
                   >
            <button type="button" type="button" class="btn btn-fab btn-fab-mini btn-raised btn-material-blue-500 btn-add" ng-click="removeLogo('ogrnScan', 'ogrn', 'ogrnSpinner')" ng-if="informationModel.has_ogrn_file && !informationModel.verified">
                <i class="mdi-action-delete" ng-hide="spinnersVisibilityState.ogrnSpinner"></i>
                <div class="spinner spinner-small" ng-show="spinnersVisibilityState.ogrnSpinner"></div>
                <div class="ripple-wrapper"></div>
            </button>
            <img ng-if="!informationModel.has_ogrn_file && informationModel.ogrnImage" ng-src="{{informationModel.ogrnImage}}" height="150" class="company-logo"/>
            <img ng-if="informationModel.has_ogrn_file" ng-src="api/companies/ogrn_file/" height="150" class="company-logo"/>
        </div>
        <div class="form-group" ng-class="{'form-group-material-blue-500': !informationModel.verified }">
            <label for="bank_account" class="control-label">
                Расчетный счет
            </label>
            <input type="text" name="bank_account" id="bank_account" class="form-control" ng-disabled="informationModel.verified" ng-model="informationModel.bank_account" required ng-minlength="20" maxlength="20">
            <div ng-messages="informationForm.bank_account.$error" role="alert" class="ng-message-alert">
              <div ng-message="required">Поле "Расчетный счет" обязательно для заполнения</div>
            </div>
        </div>
        <div class="form-group" ng-class="{'form-group-material-blue-500': !informationModel.verified }">
            <label for="bik" class="control-label">
                Бик
            </label>
            <input type="text" name="bik" id="bik" class="form-control" ng-disabled="informationModel.verified" ng-model="informationModel.bik" required ng-minlength="9" maxlength="9">
            <div ng-messages="informationForm.bik.$error" role="alert" class="ng-message-alert">
              <div ng-message="required">Поле "Бик" обязательно для заполнения</div>
            </div>
        </div>
        <div class="form-group" ng-class="{'form-group-material-blue-500': !informationModel.verified }">
            <label for="coordinates" class="control-label">
                Местоположение
            </label>
            <input type="hidden" id="coordinates" name="coordinates" ng-model="informationModel.lat" required>
            <div ng-messages="informationForm.coordinates.$error" role="alert" class="ng-message-alert">
              <div ng-message="required">Необходимо выбрать адрес на карте</div>
            </div>
            <ng-map center="[{{mapCenter.lat}}, {{mapCenter.lng}}]" zoom="10"
                zoom-control-control="true"
                zoom-control-options='{position:"right_bottom"}'
                map-type-control="false"
                street-view-control="false"></ng-map>
        </div>
        <button data-toggle="modal" data-target="#change-info-dialog" class="btn btn-raised btn-material-blue-500" ng-if="informationModel.verified">
            Запросить изменение данных
            <div class="ripple-wrapper"></div>
        </button>
        <div aria-hidden="true" style="display: none;" id="change-info-dialog" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Запрос на иземнение данных</h4>
                    </div>
                    <div class="modal-body">
                        <!-- TODO сделать отправку запросов, дизейблить кнопку если нет текста в поле ввода-->
                        <form name="dataChangeForm" role="form" novalidate>
                            <textarea type="text" name="info" class="form-control" rows="3"></textarea>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-material-blue-500">
                            Отпрваить
                            <div class="ripple-wrapper"></div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-fab btn-raised btn-material-blue-500 btn-add" ng-if="!informationModel.verified" type="submit" ng-disabled="informationForm.$invalid">
            <i class="mdi-action-done" ng-show="!showSpinner"></i>
            <div class="spinner" ng-show="showSpinner"></div>
            <div class="ripple-wrapper"></div>
        </button>
    </div>
</form>
