<form name="empForm" role="form" novalidate ng-submit="submitForm()">
    <div class="well" ng-init="init()">
        <h3>Основная информация</h3>
        <div class="form-group form-group-material-blue-500">
            <label for="name" class="control-label">
                ФИО
            </label>
            <input type="text" name="name" id="name" class="form-control" ng-model="empModel.name" required>
            <div ng-messages="empForm.name.$error" role="alert" class="ng-message-alert">
              <div ng-message="required">Поле "ФИО" обязательно для заполнения</div>
            </div>
        </div>
        <div class="form-group form-group-material-blue-500">
            <label for="name" class="control-label">
                Роль
            </label>
            <div class="btn-group form-dropdown" ng-if="rolesList.length">
                <a data-target="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true" id="roomType">
                    {{empModel.roleName}}
                    <i class="material-icons">keyboard_arrow_down</i>
                    <div class="ripple-wrapper"></div></a>
                <ul class="dropdown-menu user-menu">
                    <li ng-repeat="role in rolesList">
                        <a href="javascript:void(0)" ng-click="selectRole(role.name, role.id)">{{role.name}}</a>
                    </li>
                </ul>
            </div>
            <p ng-if="!rolesList.length">
                Вы не создали еще ни одной <a href="#roles">роли</a>.
            </p>
        </div>
        <div class="form-group form-group-material-blue-500">
            <label for="email" class="control-label">
                Email
            </label>
            <input type="email" name="email" id="email" class="form-control" ng-model="empModel.email" required>
            <div ng-messages="empForm.email.$error" role="alert" class="ng-message-alert">
              <div ng-message="required">Поле "Email" обязательно для заполнения</div>
            </div>
        </div>
        <div class="form-group form-group-material-blue-500 phone-block phone-block-last-in-form">
            <label class="control-label">
                Телефон
            </label>
            <div ng-repeat="phone in empModel.phones">
                <div class="row">
                    <div class="col-md-10">
                        <input type="text" name="phone0" class="form-control" value="{{phone.number}}" ng-if="$first" ng-model="phone.number" ui-mask="+7 (999) 999-9999" ng-minlength="10" required>
                        <div class="input-group" ng-if="!$first">
                            <input type="text" name="phone" class="form-control" value="{{phone.number}}" ng-model="phone.number" ui-mask="+7 (999) 999-9999">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group" ng-class="{'no-margin': $first}">
                        <input type="text" name="phone-extension" class="form-control" value="{{phone.extension}}" ng-model="phone.extension" maxlength="4">
                            <span class="input-group-btn" ng-click="removePhone($index)" ng-if="!$first">
                                <i class="mdi-action-delete"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-messages="empForm.phone0.$error" role="alert" class="ng-message-alert">
              <div ng-message="required">Необходимо указать хотя бы один телефон</div>
            </div>
            <button type="button" class="btn btn-fab btn-fab-mini btn-raised btn-material-blue-500 btn-add" ng-click="addPhone()" type="button">
                <i class="mdi-content-add"></i>
                <div class="ripple-wrapper"></div>
            </button>
        </div>
        <button class="btn btn-fab btn-raised btn-material-blue-500 btn-add" type="submit" ng-disabled="empForm.$invalid">
            <i class="mdi-action-done" ng-show="!showSpinner"></i>
            <div class="spinner" ng-show="showSpinner"></div>
            <div class="ripple-wrapper"></div>
        </button>
    </div>
</form>
