<div class="well" ng-init="init()">
    <h5>Квартира № {{requestModel.room.number}}, {{requestModel.room.address}}</h5>
    <hr>
    <div class="form-group form-group-material-blue-500">
        <label for="request_type" class="control-label">
            Тип заявки
        </label>
        <input type="text" disabled name="request_type" id="request_type" class="form-control" ng-model="requestModel.ticket_type">
    </div>
    <div class="form-group form-group-material-blue-500">
        <label for="status" class="control-label">
            Статус
        </label>
        <input type="text" disabled name="status" id="status" class="form-control" ng-model="requestModel.status">
    </div>
    <div class="form-group form-group-material-blue-500" ng-if="requestModel.executor">
        <label for="executor" class="control-label">
            Исполнитель
        </label>
        <input type="text" disabled name="executor" id="executor" class="form-control" ng-model="requestModel.executor.name">
    </div>
    <div class="form-group form-group-material-blue-500">
        <label for="message" class="control-label">
            Сообщение
        </label>
        <p>{{requestModel.meta.description}}</p>
    </div>
    <br>
    <div class="form-group form-group-material-blue-500">
        <label for="message" class="control-label">
            Ваш комментарий
        </label>
        <textarea type="text" name="comment" id="comment" ng-model="commentModel.body" class="form-control" rows="6"></textarea>
        <button class="btn btn-raised btn-material-blue-500 btn-add" type="submit" ng-disabled="!commentModel.body" ng-click="sendComment()">
            Оставить комментарий
        </button>
    </div>
    <div class="form-group form-group-material-blue-500" style="margin-top:60px;">
        <div ng-repeat="comment in requestModel.comments">
            <label>{{comment.user.name}}<span ng-if="comment.user.id == requestModel.executor_id"> (Исполнитель)</span>: </label>
            <span>{{comment.body}}</span>
        </div>
    </div>
</div>
