<div class="well" ng-init="init()">
    <table
    st-table="roomsModel.rooms"
   st-safe-src="roomsSafe"
    class="table table-striped table-with-controls"
    ng-if="roomsModel.rooms.length > 0">
        <thead>
            <tr>
                <th>Помещение</th>
                <th>Управление</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="room in roomsModel.rooms">
                <td>
                    <a href="#counters/{{room.id}}">
                        {{room.room_type}} № {{room.number}}, {{room.address}}
                    </a>
                </td>
                <td>
                    <span>
                        <a href="#counters/{{room.id}}">
                            <i class="material-icons">border_color</i>
                        </a>
                    </span>
                </td>
            </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="2" class="text-center">
                <div st-items-by-page="10" st-pagination="" st-template="template/table-pagination"></div>
            </td>
        </tr>
        </tfoot>
    </table>
    <h5 ng-if="!roomsModel.rooms.length > 0">Сначала создайте помещение</h5>
</div>
