<div class="well" ng-init="init()">
    <table
    st-table="roomsModel.rooms"
   st-safe-src="roomsSafe"
    class="table table-striped table-with-controls"
    ng-if="roomsModel.rooms.length > 0">
        <thead>
            <tr>
                <th>Статус</th>
                <th st-sort="address">Адресс</th>
                <th st-sort="company">Наименование обслуживающей организации</th>
                <th >Управление</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="room in roomsModel.rooms">
                <!-- <td>{{room.status | uppercase}}</td> -->
                <td>Собственник</td>
                <td><a href="#editRoom/{{room.id}}">{{room.address}}</a></td>
                <td>{{room.company_name}}</td>
                <td>
                    <span>
                        <a href="#editRoom/{{room.id}}">
                            <i class="mdi-image-edit"></i>
                        </a>
                    </span>
                    <span data-toggle="modal" data-target="#remove-dialog" ng-click="setObjIdToRemove(room.id, $index)">
                        <i class="mdi-action-delete"></i>
                    </span>
                </td>
            </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="4" class="text-center">
                <div st-items-by-page="10" st-pagination="" st-template="template/table-pagination"></div>
            </td>
        </tr>
        </tfoot>
    </table>
    <h5 ng-if="!roomsModel.rooms.length > 0">Привязанных помещений нет</h5>
    <a href="#/addRoom" class="btn btn-fab btn-raised btn-material-blue-500 btn-add" >
        <i class="mdi-content-add"></i>
        <div class="ripple-wrapper"></div>
    </a>
</div>
<div aria-hidden="true" style="display: none;" id="remove-dialog" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="panel panel-material-blue-500 panel-confirm">
            <div class="panel-heading">
                <h3 class="panel-title">Точно удалить?</h3>
            </div>
            <div class="panel-body">
                <button class="btn btn-default" data-dismiss="modal">
                    Отмена
                    <div class="ripple-wrapper"></div>
                </button>
                <button class="btn btn-material-blue-500" ng-click="deleteSelectedObj(selectedObjId, selectedObjIndex)" ng-disabled="buttonDisabled">
                    <span ng-class="{'vis-hidden': buttonDisabled}">Удалить</span>
                    <div class="spinner" ng-show="buttonDisabled"></div>
                    <div class="ripple-wrapper"></div>
                </button>
            </div>
        </div>
    </div>
</div>
