<div class="well" ng-init="init()">
    <ng-form name="requestForm" role="form" novalidate>
        <h3>Информация о заявке</h3>
        <h5>Квартира №{{room.number}}, {{room.address}}</h5>
        <div class="form-group form-group-material-blue-500">
            <label for="request_type" class="control-label">
                Тип заявки
            </label>
            <select class="form-control" id="request_type" required ng-model="requestModel.ticket_type" ng-disabled="!requestModel.new">
                <option value="Обычная" selected>Обычная</option>
                <option value="Экстренная">Экстренная</option>
                <option value="Платная">Платная</option>
            </select>
        </div>
        <div class="form-group form-group-material-blue-500" ng-if="requestModel.execute_at">
            <label for="request_type" class="control-label">
                Дата исполнения
            </label>
            <p>{{requestModel.execute_at | date:'dd.MM.yyyy'}}</p>
            <!-- <input type="text" disabled name="request_type" id="request_type" class="form-control" ng-model="requestModel.execute_at"> -->
        </div>
        <div class="form-group form-group-material-blue-500">
            <label for="message" class="control-label">
                Сообщение
            </label>
            <textarea type="text" name="message" id="message" ng-model="requestModel.meta.description" class="form-control" required rows="6" ng-disabled="!requestModel.new"></textarea>
            <div ng-messages="requestForm.message.$error" role="alert" class="ng-message-alert">
              <div ng-message="required">Поле "Сообщение" обязательно для заполнения</div>
            </div>
        </div>
        <button class="btn btn-fab btn-raised btn-material-blue-500 btn-add" type="submit" ng-disabled="requestForm.$invalid" ng-click="submitForm()">
            <i class="mdi-action-done" ng-show="!showSpinner"></i>
            <div class="spinner" ng-show="showSpinner"></div>
            <div class="ripple-wrapper"></div>
        </button>
    </ng-form>
</div>
