<form name="profileForm" role="form" novalidate ng-init="init()" ng-submit="submitForm()">
    <div class="well">
        <div class="form-group form-group-material-blue-500">
            <label for="name" class="control-label">
                ФИО
            </label>
            <input type="text" name="name" id="name" class="form-control" ng-model="profileModel.name" required ng-minlength="5">
            <div ng-messages="profileForm.name.$error" role="alert" class="ng-message-alert">
              <div ng-message="required">Поле "ФИО" обязательно для заполнения</div>
            </div>
        </div>
        <div class="form-group form-group-material-blue-500">
            <label for="name" class="control-label">
                Дата рождения
            </label>
            <time-date-picker ng-model="test" date="profileModel.birthdate"></time-date-picker>
        </div>
        <div class="form-group form-group-material-blue-500">
            <label class="control-label">
                Пол
            </label>
            <div class="radio radio-material-blue-500">
                <label>
                    <input name="sex" value="male" checked type="radio" ng-model="profileModel.gender">
                    <span class="circle"></span>
                    <span class="check"></span>
                    М
                </label>
            </div>
            <div class="radio radio-material-blue-500">
                <label>
                    <input name="sex" value="female" type="radio" ng-model="profileModel.gender">
                    <span class="circle"></span>
                    <span class="check"></span>
                    Ж
                </label>
            </div>
        </div>
        <div class="form-group form-group-material-blue-500">
            <label class="control-label">
                Фотография
            </label>
            <label for="photo"
                   class="btn btn-fab btn-fab-mini btn-raised btn-material-blue-500 btn-add"
                   ng-if="!profileModel.userpic">
                <i class="mdi-editor-publish" ng-hide="spinnerState"></i>
                <div class="spinner spinner-small" ng-show="spinnerState"></div>
                <div class="ripple-wrapper"></div>
            </label>
            <input id="photo"
                   type="file"
                   onchange="angular.element(this).scope().uploadPhoto(this.files)"
                   ng-hide="1"
                   accept="image/x-png, image/gif, image/jpeg"
            >
            <button type="button" class="btn btn-fab btn-fab-mini btn-raised btn-material-blue-500 btn-add" ng-click="removeLogo('photo')" ng-if="profileModel.userpic">
                <i class="mdi-action-delete" ng-hide="spinnerState"></i>
                <div class="spinner spinner-small" ng-show="spinnerState"></div>
                <div class="ripple-wrapper"></div>
            </button>
            <img ng-if="profileModel.userpic" ng-src="{{profileModel.userpic}}" height="150px" class="user-photo"/>
        </div>
            </br>
        <div class="form-group form-group-material-blue-500 phone-block">
            <label class="control-label">
                Телефон
            </label>
            <div ng-repeat="phone in profileModel.phones">
                <input type="text" name="phone0" class="form-control" value="{{phone.number}}" ng-if="$first" ng-model="phone.number" ui-mask="+7 (999) 999-9999" ng-minlength="10" required>
                <div class="input-group" ng-if="!$first">
                    <input type="text" name="phone" class="form-control" value="{{phone.number}}" ng-model="phone.number" ui-mask="+7 (999) 999-9999">
                    <span class="input-group-btn" ng-click="removePhone($index)">
                        <i class="mdi-action-delete"></i>
                    </span>
                </div>
            </div>
            <div ng-messages="profileForm.phone0.$error" role="alert" class="ng-message-alert">
              <div ng-message="required">Необходимо указать хотя бы один телефон</div>
            </div>
            <button type="button" class="btn btn-fab btn-fab-mini btn-raised btn-material-blue-500 btn-add" ng-click="addPhone()" type="button">
                <i class="mdi-content-add"></i>
                <div class="ripple-wrapper"></div>
            </button>
        </div>
        <button class="btn btn-fab btn-raised btn-material-blue-500 btn-add" ng-if="!informationModel.verified" type="submit" ng-disabled="profileForm.$invalid">
            <i class="mdi-action-done" ng-show="!submitSpinnerState"></i>
            <div class="spinner" ng-show="submitSpinnerState"></div>
            <div class="ripple-wrapper"></div>
        </button>
    </div>
</form>
