<div class="well" ng-init="init()" style="width:1000px;margin-left:-100px;">
    <ng-form name="roomForm" role="form" novalidate>
        <h3>Основная информация</h3>
        <div class="form-group form-group-material-blue-500">
            <label for="roomType" class="control-label">
                Вид помещения
            </label>
            <br>
            <div class="btn-group  form-dropdown">
                <a data-target="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true" id="roomType">
                    {{roomModel.room_type}}
                    <i class="material-icons">keyboard_arrow_down</i>
                    <div class="ripple-wrapper"></div></a>
                 <!--TODO сделать обновление room_type по клику-->
                <ul class="dropdown-menu">
                    <li>
                        <a href="javascript:void(0)">Квартира</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="form-group form-group-material-blue-500">
            <label for="number" class="control-label">
                Номер квартиры
            </label>
            <input type="number" name="number" id="number" class="form-control" ng-model="roomModel.number" required min="1">
            <div ng-messages="roomForm.number.$error" role="alert" class="ng-message-alert">
              <div ng-message="required">Поле "Номер квартиры" обязательно для заполнения</div>
            </div>
        </div>
        <div class="form-group">
          <div class="checkbox checkbox-material-blue-500">
            <label>
              <input type="checkbox" ng-model="showAddEstateForm" ng-checked="showAddEstateForm"><span class="checkbox-material"><span class="check"></span></span> Моего адреса нет
            </label>
          </div>
          <p class="help-block">Поставьте здесь отметку, если вашего дома нет в списке</p>
        </div>

        <fieldset ng-if="!showAddEstateForm">
        <div class="form-group form-group-material-blue-500">
            <label for="address" class="control-label">
                Адрес
            </label>
            <ui-select ng-model="address.selected"
                       reset-search-input="false"
                       on-select="setCompanyInfo($item)"
                       >
              <ui-select-match class="ui-select-match ui-select-custom" placeholder="Введите адрес...">{{$select.selected.full_address}}</ui-select-match>
              <ui-select-choices class="ui-select-choices ui-select-custom" repeat="address in addresses"
                       refresh="refreshAddresses($select.search)"
                       refresh-delay="0">
                <div ng-bind-html="address.full_address | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
        </div>
        <h3>Кто обслуживает</h3>
        <div class="form-group form-group-material-blue-500">
            <label for="company_name" class="control-label">
                Название
            </label>
            <input type="text" name="company_name" id="company_name" class="form-control" ng-model="roomModel.company_name" required disabled readonly>
            <div ng-messages="roomForm.company_name.$error" role="alert" class="ng-message-alert">
              <div ng-message="required">Поле "Название" обязательно для заполнения</div>
            </div>
        </div>
        <div class="form-group form-group-material-blue-500">
            <label for="company_address" class="control-label">
                Адрес
            </label>
            <input type="text" name="company_address" id="company_address" class="form-control" ng-model="roomModel.company_address" required disabled readonly>
            <div ng-messages="roomForm.company_address.$error" role="alert" class="ng-message-alert">
              <div ng-message="required">Поле "Адрес" обязательно для заполнения</div>
            </div>
        </div>
        <div class="form-group form-group-material-blue-500">
            <label for="company_phone" class="control-label">
                Телефон
            </label>
            <input type="text" name="company_phone" id="company_phone" class="form-control" ng-model="roomModel.company_phone" readonly disabled ui-mask="+7 (999) 999-9999" ng-minlength="10" required>
            <div ng-messages="roomForm.company_phone.$error" role="alert" class="ng-message-alert">
              <div ng-message="required">Поле "Телефон" обязательно для заполнения</div>
            </div>
        </div>
        </fieldset>
        <fieldset ng-if="showAddEstateForm">
            <div class="form-group form-group-material-blue-500">
                <label for="address" class="control-label">
                    Адрес
                </label>
                <input type="text" name="address" id="address" class="form-control" ng-model="roomModel.address"  required>
                <div ng-messages="roomForm.address.$error" role="alert" class="ng-message-alert">
                  <div ng-message="required">Поле "Адрес" обязательно для заполнения</div>
                </div>
            </div>
        </fieldset>
        <h3>Степень благоустройства помещения</h3>
        <div class="form-group form-group-material-blue-500">
            <label for="rooms_ammount" class="control-label">
                Комнат
            </label>
            <input type="number" name="rooms_ammount" id="rooms_ammount" class="form-control" ng-model="roomModel.meta.beautification.rooms_ammount" required min="1">
            <div ng-messages="roomForm.rooms_ammount.$error" role="alert" class="ng-message-alert">
              <div ng-message="required">Поле "Количество комнат" обязательно для заполнения</div>
            </div>
        </div>
        <div class="form-group form-group-material-blue-500">
            <label for="general_area" class="control-label">
                Общая площадь
            </label>
            <input type="number" name="general_area" id="general_area" class="form-control" ng-model="roomModel.meta.beautification.general_area" required min="1">
            <div ng-messages="roomForm.general_area.$error" role="alert" class="ng-message-alert">
              <div ng-message="required">Поле "Общая площадь" обязательно для заполнения</div>
            </div>
        </div>
        <div class="form-group form-group-material-blue-500">
            <label for="balcony_area" class="control-label">
                Площадь лоджии/балкона
            </label>
            <input type="number" name="balcony_area" id="balcony_area" class="form-control" ng-model="roomModel.meta.beautification.balcony_area" required min="0">
            <div ng-messages="roomForm.balcony_area.$error" role="alert" class="ng-message-alert">
              <div ng-message="required">Поле "Площадь лоджии/балкона" обязательно для заполнения</div>
            </div>
        </div>
        <div class="form-group form-group-material-blue-500">
            <label for="floor" class="control-label">
                Этаж
            </label>
            <input type="number" name="floor" id="floor" class="form-control" ng-model="roomModel.meta.beautification.floor" required min="1">
            <div ng-messages="roomForm.floor.$error" role="alert" class="ng-message-alert">
              <div ng-message="required">Поле "Этаж" обязательно для заполнения</div>
            </div>
        </div>
        <div class="form-group form-group-material-blue-500">
            <label for="bathroom" class="control-label">
                Туалет и ванна
            </label>
            <select class="form-control" id="bathroom" ng-model="roomModel.meta.beautification.bathroom" required>
                <option value="Раздельные">Раздельные</option>
                <option value="Совместные">Совместные</option>
            </select>
        </div>
        <div class="form-group form-group-material-blue-500">
            <label for="property_rigth" class="control-label">
                Обоснование права собственности
            </label>
            <select class="form-control" id="property_rigth" ng-model="roomModel.meta.beautification.property_rigth" required>
                <option value="Договор">Договор</option>
                <option value="Решение суда">Решение суда</option>
                <option value="Свидетельство о праве">Свидетельство о праве</option>
            </select>
        </div>
        <div class="togglebutton togglebutton-material-blue-500">
            <label>
                <input type="checkbox" name="gas" ng-model="roomModel.meta.beautification.convenience.gas">
                <span class="toggle"></span>
                Газ
            </label>
        </div>
        <div class="togglebutton togglebutton-material-blue-500">
            <label>
                <input type="checkbox" name="gas" ng-model="roomModel.meta.beautification.convenience.cold_water">
                <span class="toggle"></span>
                Х. водоснабжение
            </label>
        </div>
        <div class="togglebutton togglebutton-material-blue-500">
            <label>
                <input type="checkbox" name="gas" ng-model="roomModel.meta.beautification.convenience.warm_water">
                <span class="toggle"></span>
                Г. водоснабжение
            </label>
        </div>
        <div class="togglebutton togglebutton-material-blue-500">
            <label>
                <input type="checkbox" name="gas" ng-model="roomModel.meta.beautification.convenience.electricity">
                <span class="toggle"></span>
                Электричество
            </label>
        </div>
        <div class="togglebutton togglebutton-material-blue-500">
            <label>
                <input type="checkbox" name="gas" ng-model="roomModel.meta.beautification.convenience.heating">
                <span class="toggle"></span>
                Отопление
            </label>
        </div>
        <div class="togglebutton togglebutton-material-blue-500">
            <label>
                <input type="checkbox" name="gas" ng-model="roomModel.meta.beautification.convenience.sewage">
                <span class="toggle"></span>
                Водоотведение
            </label>
        </div>
        <h6>* При выборе удобств формируется остальные меню, т.е. если есть услуга она появляется и активна в других сервисах</h6>
        <h3>Количество проживающих</h3>
        <div class="table-wrapper">
        <table st-table="roomModel.meta.tenants" class="table" ng-if="roomModel.meta.tenants.length > 0">
            <thead>
            <tr>
                <th>ФИО</th>
                <th>Режим</th>
                <th>Статус</th>
                <th>Права управления</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="tenant in roomModel.meta.tenants">
                <td>
                    <div class="form-group form-group-material-blue-500">
                        <input type="text" name="tennant_name"class="form-control" ng-model="tenant.name" required>
                    </div>
                </td>
                <td>
                    <div class="form-group form-group-material-blue-500">
                        <select class="form-control" ng-model="tenant.mode" required>
                            <option value="" disabled selected>Выберите</option>
                            <option value="Зарегестрирован и проживает">Зарегестрирован и проживает</option>
                            <option value="Проживает">Проживает</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group form-group-material-blue-500">
                        <select class="form-control" ng-model="tenant.status" required>
                            <option value="" disabled selected>Выберите</option>
                            <option value="Собственник">Собственник</option>
                            <option value="Член семьи собственника">Член семьи собственника</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group form-group-material-blue-500">
                        <select class="form-control" ng-model="tenant.rights" required>
                            <option value="" disabled selected>Выберите</option>
                            <option value="Ограничено">Ограничено</option>
                            <option value="Не ограничено">Не ограничено</option>
                        </select>
                    </div>
                </td>
                <td>
                    <span class="input-group-btn inline-button" ng-click="removeTenant($index)">
                        <i class="mdi-action-delete"></i>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
            <button type="button" class="btn btn-fab btn-fab-mini btn-raised btn-material-blue-500 btn-add btn-add-tenant" ng-click="addTenant()" type="button">
                <i class="mdi-content-add"></i>
                <div class="ripple-wrapper"></div>
            </button>
        <h5 ng-if="!roomModel.meta.tenants.length > 0">Проживающих нет</h5>
        </div>
    </ng-form>
    <counter-list list="roomModel.counters_attributes" mode="workMode"></counter-list>
    <button class="btn btn-fab btn-raised btn-material-blue-500 btn-add" type="submit" ng-disabled="roomForm.$invalid" ng-click="submitForm()">
        <i class="mdi-action-done" ng-show="!showSpinner"></i>
        <div class="spinner" ng-show="showSpinner"></div>
        <div class="ripple-wrapper"></div>
    </button>
</div>
