<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>OnlineDom</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_tag "window.__token = '#{form_authenticity_token}'" %>
</head>
<body>
<div class="container">
  <div class="well">
    <h1>Welcome to Onlinedom admin page</h1>
    <a href="/logout" class="btn btn-default btn-raised">
      <i class="fa fa-power-off"></i> Logout
    </a>
  </div>
</div>

<%= render 'gmaps' %>
</body>
</html>