<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>OnlineDom</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

  <%= stylesheet_link_tag    'client', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'client', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_tag "window.__token = '#{form_authenticity_token}'" %>
  <%= javascript_tag "window.__user = #{@user.to_json}" %>
</head>
<body ng-controller="clientController">
<alert></alert>
<header class="well-material-blue-500">
  <div class="jumbotron-material-blue-500 header-profile-block">
    <div class="header-profile-block-inner" ng-cloak>
        <img src="http://radio-hustle.com/dancers_old/pics/no_avatar.jpg" width="50" height="50" ng-if="!userData.userpic"/>
        <img ng-src="{{userData.userpic}}" width="50" height="50" ng-if="userData.userpic"/>
      <div class="btn-group btn-group-flat">
        <a data-target="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
          {{userData.name}}
          <i class="material-icons">keyboard_arrow_down</i>
          <div class="ripple-wrapper"></div></a>
        <ul class="dropdown-menu">
            <li ng-if="userData.user_type == 'company' || userData.employee">
              <a ng-click="changeMode()" href="">Зайти как сотрудник</a>
            </li>
            <hr ng-if="userData.user_type == 'company' || userData.employee">
          <li>
            <a href="javascript:void(0)">Сменить пароль</a>
          </li>
          <li>
            <a href="/logout">Выйти</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<div class="container sidebar sidebar-left">
  <div class="row">
    <div class="well well-company-logo">
      <span>
        here is our logo
      </span>
    </div>
    <nav>
      <ul class="navbar-menu">
        <li>
          <a is-active-nav href="#profile" class="btn btn-default btn-nav-item">
            <i class="material-icons">info_outline</i>
            Профиль
          </a>
        </li>
        <li>
          <a is-active-nav href="#rooms" class="btn btn-default btn-nav-item">
            <i class="material-icons">border_all</i>
            Помещения
          </a>
        </li>
        <li>
          <a is-active-nav href="#counters" class="btn btn-default btn-nav-item">
            <i class="material-icons">copyright</i>
            Счетчики
          </a>
        </li>
        <li>
          <a is-active-nav href="#requests" class="btn btn-default btn-nav-item">
            <i class="material-icons">update</i>
            Заявки
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<div class="container-fluid container-content">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div ng-view=""></div>
    </div>
  </div>
</div>
</div>

<%= render 'gmaps' %>
</body>
</html>
